@import url("https://fonts.googleapis.com/css2? family= Poppins:wght@100;200;300;400;500;600;700;800;900 & display=swap");

.conteiner {
  font-family: "Poppins", sans-serif;
  color: #332f30;
  height: 100%;
}

a {
  text-decoration: none;
  color: #332f30;
  font-size: 15px;
  font-weight: 700;
}

.navigation1 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.socialIcons {
  margin-left: 60px;
}

.socialIcons a {
  margin-right: 20px;
}

.btns button,
.actionButtons button {
  border-radius: 20px;
  border: 2.5px solid #332f30;
  background-color: white;
  justify-content: center;
}

.btns .btn1 {
  text-align: center;
}

.actionButtons .btn1 {
  text-align: center;
  margin-right: 2em;
  padding: 10px 60px;
  margin-bottom: 1%;
}

.btns .btn2,
.actionButtons .btn2 {
  text-align: center;
  padding: 10px 60px;
  margin-bottom: 1%;
}

.navigation2 {
  background-color: #e03854;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5em;
  height: 100%;
}

.navigationLinks a {
  font-size: 18px;
  font-weight: 300;
  color: white;
  margin: 0 0 0 2em;
}

@media (max-width: 589px) {
  .navigation1 {
    padding: 0.4em 2em;
  }
  .navigation2 {
    padding: 0.4em 2em;
  }
}

/* NavBard.module.css */

/* Clase para el Sidebar con color rojo */
.redSidebar {
  background-color: #e03854; /* Cambia el color del Sidebar a rojo */
  /* Otros estilos que desees aplicar al Sidebar */
}

/* Estilos específicos para los enlaces del Sidebar */
.redSidebar .navigationLinks {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.redSidebar .navigationLinks a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
}

.navigation2 .navigationLinks {
  display: flex;
  align-items: center;
  gap: 1em;
}

.navigation2 .navigationLinks a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

/* NavBard.module.css */

/* ... (otros estilos) */

.arrowIcon {
  color: white; /* Cambia el color del icono a rojo */
  font-size: 3em; /* Ajusta el tamaño del icono según sea necesario */
}

/* ... (otros estilos) */
