.custom-close-button {
    background-color: #ffd9df;
    padding: 15px 30px;
    border-radius: 10px;
    color: #e03854;
    cursor: pointer;
    margin-top: 5%;
}

.plResultados {
    text-align: center;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}

.p-dialog .p-dialog-header-icons {
    margin-top: 1%;
    margin-right: 1%;
}

.TextContainerResu {
    width: 100%;
}

.CerrarPdf {
    background-color: #ffd9df;
    color: #e03854;
    border-radius: 10px;
    padding: 10px 30px;
    cursor: pointer;
}

.ContainerCerrarPedf {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia del borde inferior según tus necesidades */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 488px) {

    .table-container {
        overflow-x: scroll;
    }
}


@media screen and (max-width: 581px) {

    .custom-close-button {
        margin-top: 10%;
    }
}

@media screen and (max-width: 586px) {
    .TextContainerResu {
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        margin-top: -5%;
        margin-left: -10%;
    }

    .mt-4 {
        margin-top: 5.5rem !important;
    }
}

@media screen and (max-width: 490px) {
    .TextContainerResu {
        margin-left: -22%;
    }
}