* {
    padding: 0;
    box-sizing: border-box;
}

/* Sección de Banner */
.img {
    transition: 0.7s;
    width: 100%;
    
    position: relative;
    margin: 0;
    padding: 0;
}

.SeparadorHeader {
    height: 88px;
}

.img .baner {
    width: 100%;
    object-fit: cover;
    position: relative;
}

.text_baner,
.texto_abajo {
    width: 500px;
    color: #332F30;
}

.container_nosotros {
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span1 , .span2{
    color: #E03854;
}

.titulo1 {
    padding-bottom: 10px;
}

.separacion1{
    padding-bottom: 100px;
} 


.text_baner {
    /*top: 30%;
    left: 45%;*/
    margin: 0 10px;
    font-size: 38px;
    margin-right: 10%;
}

.texto_abajo {
    /*width: 35%; 
    top: 50%; 
    right: 20%;*/
    font-size: 18px;
    text-align: justify;
    margin-right: 10%;
}

/* Sección de Misión y Visión */
.container_mv {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.img_mv {
    margin-right: 0.3em;
}

.titulo_mv {
    color: var(--Negro-gris, #332F30);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    display: flex;
}

.mision,
.vision {
    padding: 35px;
    border-radius: none;
    background: #FFF;
    /* sombra */
    box-shadow: 0px 2.945px 18.625px 0px rgba(211, 211, 211, 0.25);
    text-align: center;
    /*height: 17em;*/
    margin: 16px 20px;
    width: 18em;
    font-size: 22px;
    font-family: "Poppins";
}

.parra_mision,
.parra_vision {
    color: #545454;
    text-align: justify;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* espacio 
body .espacio {
    margin-top: -37em;
}*/

/* Sección de Valores */

.container_valores{
    background-image: url('../img/linerecta.svg');
    background-repeat: no-repeat;
    background-position: center center;
    
    
}
.container_v,
.container_v2 {
    margin-top: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.container_valores,
.container_valores2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin-bottom: 6px;
   
}

.container_valores_principal {
  text-align: center;
  margin-bottom: 5em;
}

.card,
.card3 {
    width: 220px;
height: 220px;
    margin: 0 40px;
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 700;
    /* Establece el peso de la fuente a 700 */
    border-radius: 10px;
background: #FFF;

box-shadow: 0px 4px 33.9px 0px rgba(209, 208, 208, 0.25);
}
.cardultimo{
        width: 220px;
height: 220px;
    margin: 0 40px;
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 700;
    /* Establece el peso de la fuente a 700 */
    border-radius: 10px;
background: #FFF;

box-shadow: 0px 4px 33.9px 0px rgba(209, 208, 208, 0.25);
}
.card2,
.card4{
    width: 220px;
    height: 220px;
    margin: 0 40px;
    
    text-align: center;
    font-size: 32px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 700;
    /* Establece el peso de la fuente a 700 */
    border-radius: 10px;
    margin-top: 100px;
    border-radius: 10px;
background: #545454;
box-shadow: 0px 4px 33.9px 0px rgba(209, 208, 208, 0.25);
align-items: center;
}

.parra_valores {
    font-size: 13px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 400;
    /* Establece el peso de la fuente a 400 */
    color: #332F30;
    width: 158px;
    margin-left: 25px;

}
.parra_valores2{
    width: 158px;
    margin-left: 32px;
    font-size: 13px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 400;
    /* Establece el peso de la fuente a 400 */
    color: #332F30;

}

.parra_titulo {
    color: #332F30;
    font-size: 20px;
    font-family: "Poppins";
    
    
}

.card .image_section,
.card2 .image_section,
.card3 .image_section,
.card4 .image_section,
.cardultimo .image_section{
    margin-top: -35px;
    align-items: center;
    border-radius: 200px;
    width: 67px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E03854;
}
.desplazamiento{
 margin-left: 80px;
}
.parra_titulo2{
    color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
   
    margin-left: 15px;
    width: 200px;
    
}
.parra_valores2{
    color: #FFF;
    
    font-family: 'Poppins';
}
.LineaR{
    background-color: transparent;
    margin-top: 500px;
}
.titulo_valores .valoresR{
    color: #E03854;
    display: inline;
}
.titulo_valores {
    text-align: center;
    font-size: 48px;
    font-family: 'Poppins';
    /* Aplica la fuente Poppins */
    font-weight: 700;
    /* Establece el peso de la fuente a 700 */
    color: #332F30;
}

/* PreguntasFrecuentes */
.ContenedorTitulo{
    text-align: center;
}
.TituloPreguntas{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 126%; /* 50.4px */


}
.TituloPreguntas .TituloFrecuentes{
    color: var(--Fucsia, #E03854);
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 126%;
text-align: center;
display: inline;
}

.proceso1,
.proceso2,
.proceso3,
.proceso4{
    display: flex;
   

}

.proceso1{
    margin-left: 30px;
    
    
}
.proceso2{
    margin-left: 35px;
    margin-top: 25px;
}
.proceso3{
    margin-left: 29px;
    margin-top: 40px;
}
.proceso4{
    margin-left: 30px;
    margin-top: 25px;
}
.lineG{
    display: flex;
}
.Pregunta1,
.Pregunta2,
.Pregunta3{
    color: var(--Negro-gris, #332F30);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 126%; /* 18.9px */
}
.DispFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}
.procesoT1{
    color: var(--Fucsia, #E03854);
margin-left: 140px;
margin-top: -40px;
width: 181px;
}
.procesoT2{
margin-left: 140px;
margin-top: -35px;
width: 181px;
}
.procesoT3{
margin-left: 140px;
margin-top: -40px;
width: 181px;
}
.procesoT4{
margin-left: 140px;
margin-top: -40px;
width: 181px;
}
.ProcesosS{
    background-image: url('../img/lineagris.svg');
    background-repeat: no-repeat;
    background-position: left;
    width: 400px;
   
}

.flechabajo{
    margin-left: 500px;
}
.flechabajo2{
    margin-left: 440px;
}
.flechabajo3{
    margin-left: 447px;
}

.PreguntaCont1{
    display: flex;
    align-items: center;
    
}
/* RESPONSIVE */

@media (max-width: 1500px){
    .separacion1{
        padding-bottom: 50px;
    } 
}
@media (max-width: 930px) {
    .parra_mision,
    .parra_vision {
        font-size: 15px;
    }
    .mision,
    .vision {
        width: 15em;
    }
}

@media (max-width: 910px) {

    .container_mv {
        top: 0;
    }

    .parra_mision,
    .parra_vision {
        font-size: 15px;
    }
}


@media (max-width: 460px) {
    .titulo_mv{
        font-size: 28px;
    }
}

/* Sección nuestros valores */
@media (max-width: 1530px) {
    
    .card2{
        margin-top: 0px;

    }
    .card4{
        margin-top: 0px;
    }
    .container_valores{
        margin-top: 100px;
    }
    .cardultimo{
        margin-top: 70px;
    }
    .container_valores{
        background-image:none;
        
        
        
    }
}
@media (max-width: 1230px) {

    
    .container_valores{
        margin-top: 100px;
    }
    .card4{
        margin-top: 70px;
    }
    .cardultimo{
        margin-top: 70px;
    }
}
@media (max-width: 930px) {

    
    .container_valores{
        margin-top: 100px;
    }
    .card2{
        margin-top: 0px;
    }
    .card3{
        margin-top: 70px;
    }
    .card4{
        margin-top: 70px;
    }
    .cardultimo{
        margin-top: 70px;
    }
}


/* Sección PreguntasFrecuentes */
@media (max-width: 1700px){
    .DispFlex {
        flex-direction: column; /* Cambia a un diseño de columna */
        text-align: center; /* Centra el texto si es necesario */
    }
}
@media (max-width: 1140px){
    .PreguntasF{

 width: 700px;
    }
    .linePreguntas{
        width: 700px;
    }
    .flechabajo{
        margin-left: 340px;;
    }
    .flechabajo2{
        margin-left: 280px;;
    }
    .flechabajo3{
        margin-left: 295px;;
    }
}
@media (max-width: 910px){
    .PreguntasF{
 width: 600px;
    }
    .linePreguntas{
        width: 600px;
    }
}
@media (max-width: 740px){
    .PreguntasF{
 width: 400px;
    }
    .linePreguntas{
        width: 400px;
    }
    .flechabajo{
        margin-left: 140px;;
    }
    .flechabajo2{
        margin-left: 150px;;
    }
    .flechabajo3{
        margin-left: 200px;;
    }
}
@media (max-width: 530px){
    .PreguntasF{
 width: 300px;
    }
    .linePreguntas{
        width: 300px;
    }
    .ProcesosS{
        width: 300px;
    }
    .flechabajo{
        margin-left: 90px;;
    }
    .flechabajo2{
        margin-left: 120px;;
    }
    .flechabajo3{
        margin-left: 110px;;
    }
    .procesoT1,
    .procesoT2,
    .procesoT4,
    .procesoT3{
        margin-left: 110px;;
    }
    
}
@media (max-width: 400px){
    .PreguntasF{
 width: 250px;
    }
    .linePreguntas{
        width: 250px;
    }
    .ProcesosS{
        width: 250px;
    }
    .procesoT1,
    .procesoT2,
    .procesoT4,
    .procesoT3{
        margin-left: 80px;;
    }
    .flechabajo{
        margin-left: 10px;;
    }
    .flechabajo2{
        margin-left: 20px;;
    }
    .flechabajo3{
        margin-left: 10px;;
    }
}

@media (max-width: 350px){
    .PreguntasF{
 width: 200px;
    }
    .linePreguntas{
        width: 200px;
    }
    .ProcesosS{
        width: 200px;
    }
    .procesoT1,
    .procesoT2,
    .procesoT4,
    .procesoT3{
        margin-left: 60px;
        width: 110px;
    }
    .proceso1,
    .proceso2,
    .proceso3,
    .proceso4{
        margin-left: 10px;
    }
    .TituloPreguntas,
    .TituloPreguntas .TituloFrecuentes{
        font-size: 30px;
    }
    
}

@media (max-width: 768px) {
    /*.text_baner {

        left: 45%;
    }

    .texto-abajo {
        width: 80%;
        font-size: 3vw;
    }*/

    /*.container_mv,
    .container_valores,
    .container_valores2 {
        flex-direction: column;
        align-items: center;
    }

    .mision,
    .vision,
    .card {
        width: 80%;
    }*/
}



/* Ajustes RESPONSIVE */
/*@media (max-width: 768px) {
    .container_input {
        flex-direction: column;
        background-color: transparent;
    }

    input[type="email"],
    button {
        width: 100%;
    }
}*/


@media (max-width: 930px) {
    .parra_mision,
    .parra_vision {
        font-size: 15px;
    }
    .mision,
    .vision {
        width: 15em;
    }
}

@media (max-width: 910px) {
    .img .baner {
        width: 100%;
        height: auto;
    }

    .container_mv {
        top: 0;
    }

    .container_valores_principal {
        translate: 0;
        margin-bottom: 60px;
    }

    .parra_mision,
    .parra_vision {
        font-size: 15px;
    }
    .text_baner{
        margin-right: 5%;
        width: 400px;
    }
    .texto_abajo{
        font-size: 15px;
        margin-right: 5%;
        width: 400px;
    }
}
@media (max-width: 760px) {
    .text_baner,
    .texto_abajo{
        width: 350px;
    }
    
}
@media (max-width: 670px) {
    .container_nosotros{
        position: static;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
        width: auto;
        text-align: center;
    }
    .text_baner{
        margin: 40px 0 20px 0;
    }
    .texto_abajo{
       margin: 0;
    }
}

@media (max-width: 774px) {
    .container_nosotros{
        position: static;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
        width: auto;
        text-align: center;
    }
    .text_baner{
        margin: 40px 0 20px 0;
    }
    .texto_abajo{
       margin: 0;
    }
}

@media (max-width: 1180px) {
    .container_nosotros{
        position: static;
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
        width: auto;
        text-align: center;
    }
    .text_baner{
        margin: 40px 0 20px 0;
    }
    .texto_abajo{
       margin: 0;
    }
}
@media (max-width: 430px) {
    .text_baner,
    .texto_abajo{
        width: 300px;
    }
}
/* Sección Entérate */
.container_enterate h2 {
    color: var(--Negro-gris, #332F30);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container_enterate p {
    position: relative;
    display: flex;
    top: -1.5rem;
    margin: 0;
    justify-content: center;

    color: var(--Negro-gris, #332F30);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.enterate_fondo {
    background-image: url('../img/preparacion_muestra.svg');
    text-align: center;
    padding: 40px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.9;
}

.container_enterate {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFF;
    padding: 2%;
    border-radius: 15px;
    width: 35rem;
}

input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    background-color: #FFF;
}

.btn1 {
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    background-color: #E03854;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    height: 55px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 760px) {
    .container_enterate h2 {
        font-size: 38px;
    }
}

@media (max-width: 650px) {
    .container_input{
        width: 100%;
    }
    input[type="email"],
    button {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .container_enterate h2 {
        font-size: 33px;
    }
    .container_enterate p {
        font-size: 18px;
        top: -2rem;
    }
}

@media (max-width: 460px) {
    .container_enterate h2 {
        font-size: 28px;
    }
    .container_enterate p {
        font-size: 15px;
        top: -1.5rem;
    }
    .container_input {
        flex-direction: column;
        background-color: transparent;
    }
    input[type="email"]{
        height: 60px;
        border-radius: 10px;
    }
    .btn1_enterate{
        width: 100%;
    }
}

@media (max-width: 364px) {
    body {
      overflow-x: hidden;
    }
}
@media screen and (min-width: 768px){
    .ContenedorVistaNosotros{
        height: calc(-5.12px + 45vw);
        width: 100%;
        background-color:#FFD9DF;
      }
  }
  @media screen and (max-width: 767px){
    .ContenedorVistaNosotros{
      height: 300px;
      background-color:#FFD9DF;
      
    }
    .img .baner {
        height: 300px;
    }
  }